<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的视频</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/myvideo.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
        <section class='main' id='main'>
                <aside class="asi" :style="asi">
                    <header :style="asi_hu">
                        <div><img :src="user[3]" alt=""></div>
                        <h5>{{user[0]}}</h5>
                    </header>
                    <ul :style="asi_hu">
                        <li v-for="(item,i) of list" :key="i">
                            <button @click="items(i,$event)" >{{item.title}}</button>
                            <div class="container" :class="{tainer:item.cb}">
                            <button v-if="item.s.length>=1" @click="jump(i,0)">{{item.s[0]}}</button>
                            <button v-if="item.s.length>=2" @click="jump(i,1)">{{item.s[1]}}</button>
                            <button v-if="item.s.length>=3" @click="jump(i,2)">{{item.s[2]}}</button>
                        </div></li>
                    </ul>
                </aside>
                <section class="body" :style="body">
                <header><button @click='work'><i class="fa fa-bars" aria-hidden="true"></i></button><h2 @click="bodys('jump')" title="回到主页"><i class="fa fa-audio-description fa-1x" aria-hidden="true"></i> 视频教学系统</h2><div><div @click="login(1)">{{user[0]}}</div><div @click="login(0)">注销登录</div></div></header>
                <div class="video-main">
                    <div class="heade" :class="{active:myvideo[0].my}">
                                <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> 上传视频</p>
                    </div>
                    <div class="pribod2" :class="{active:myvideo[0].my}">
                            <div class="upload" id="upload">
                                <div><!--img src="https://kcone.applinzi.com/images/adv/adv1.png" alt=""--></div>
                                <div>
                                        <form>
                                            <input type="file" name="mypic"  id="up">
                                            <input type="button" value="视频上传" @click="go($event)">
                                        </form>
                                        <div class="footer">
                                            <div><span @mouseover="actshow(1)" @mouseout="actshow(2)">禁止发布的内容</span>
                                                <span @mouseover="actshow(3)" @mouseout="actshow(4)">视频大小</span>
                                                <span @mouseover="actshow(5)" @mouseout="actshow(6)">视频格式</span>
                                            </div>
                                            <p class="p1" :class="{active:act1}">裸露和色情内容 关于暴力 <br>有危害性或危险内容</br>
                                                    个人隐私 </br>恶意冒充他人 </br>人身攻击 </br>垃圾内容
                                            </p>
                                            <p class="p2" :class="{active:act2}">
                                                    系统允许上传的视频上限为50m<br/>
                                                    视频内容最长为1小时
                                            </p>
                                            <p class="p3" :class="{active:act3}">视频推荐上传的格式为 mp4 flv</br>其他允许上传的格式为avi rmvb</p>
                                            <div>上传视频，即表示您已同意 <a>用户协议</a> ，请勿上传色情，反动等违法视频。</div>
                                        </div>
                                </div>
                            </div>
                            <video class="cut" src="" id="video"></video>
                    </div>
                    <div class="heade1" :class="{active:myvideo[1].my}">
                        <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> 观看记录</p>
                        <p @click="del('all')">清除历史</p>
                    </div>
                    <div class="pribod" :class="{active:myvideo[1].my}">
                        <ul>
                        <li v-for="(item,i) of rec" :key="i"><div @click="bodys('play',$event,item.vid)"><p>{{item.times}}</p></div><div @click="bodys('play',$event,item.vid)"><img :src="item.wvideo" alt=""></div><div @click="bodys('play',$event,item.vid)"><p>{{item.wtitle}}</p>
                        <p><span><i class="fa fa-television" aria-hidden="true"></i>{{item.progress}}</span> <span>{{item.wname}}</span></p></div>
                        <div><i class="fa fa-trash-o fa-1x" aria-hidden="true" @click="del(item.rid)"></i></div></li></ul>
                    </div>   
                    <!--视频管理-->
                    <div class="heade1" :class="{active:myvideo[2].my}">
                            <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i> 视频管理</p>
                            <p @click="bodys('all')">删除全部</p>
                    </div>
                    <div class="pribod1" :class="{active:myvideo[2].my}">
                        <!--管理员审核这里需要更改-->
                        <div :style="govid" v-for="(item,i) of vidmin"><div class="play"><span title="浏览量">{{item.play}} </span><span title="发布时间">{{item.times}}</span><i title="删除" class="fa fa-trash-o fa-1x" aria-hidden="true" @click="bodys('only',item.vid)"></i></div><img :src="item.img" alt="" @click="videtail(item.vid)"><p>{{item.title}}</p><div class="audit" :class="{no:item.audd}"><i class="fa fa-exclamation-circle fa-3x" v-if="item.yes"></i><i class="fa fa-times-circle-o fa-3x close" aria-hidden="true" v-if="item.no"></i><p>{{item.rec}}</p></div></div>
                    </div>
                </div>
                </section>
            </section>
<script src="js/myvideo.js"></script>
</body>
</html>